@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'animations';

.header {
    height: 100vh;
    margin-bottom: 150px;
    padding: 70px 10px 38px;
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

	&__subtitle {
		margin-top: auto;
		font-size: 18px;
		line-height: 25px;
		font-weight: 400;
	}
	
	&__title {
		font-size: 64px;
		line-height: 87px;
		font-weight: 700;

		span {
			display: block;
			font-size: 42px;
			line-height: 57px;
		}
	}

	&__btn {
		margin-top: 50px;
		margin-bottom: auto;
		align-self: center;
	}
}




.btn__path {
    transition: fill .5s;
}

.btn:hover .btn__path {
    fill: $yellow;
}

.btn__text {
    display: inline-block;
    margin-left: -57px;
    font-size: 18px;
    line-height: 25px;
    transform: translateY(-17px);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;

	&__item {
		padding: 0 10px;
	}
}

.service {
    margin-bottom: 150px;

	&__inner {
		display: flex;
	}
	
	&__content {
		flex-basis: 510px;
		margin-right: 90px;
	}
	
	&__box {
		margin-bottom: 50px;

		&-title {
			margin-bottom: 15px;
			font-size: 18px;
			line-height: 25px;
			font-weight: 700;
		}
	}

	&__img {
		object-fit: cover;
	}
}

.info {
    margin-bottom: 150px;

	&__inner {
		display: flex;
	}
	
	&__box {
		flex-basis: 510px;
		margin-right: 90px;
	}
	
	&__content {
		flex-basis: 600px;

		&-text {
			margin-bottom: 17px;
			font-size: 18px;
			line-height: 25px;
			font-weight: 700;
		}
	}

	&-tabs {
		margin-bottom: 100px;

		&__items {
			margin-bottom: 120px;
		}

		&__item {
			margin-right: 40px;
			font-size: 18px;
			line-height: 25px;
		}
		
		&__item--active {
			border-bottom: 1px solid #303030;
		}

		&__content {
			display: none;
		}
		
		&__content--active {
			display: block;
		}
	}
	
	&-slider {
		max-width: 510px;
	
		&__img {
			margin-right: 40px;
			float: left;
		}
		
		&__text {
			padding-bottom: 15px;
		}
	}
	
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	
		&-item {
			flex-basis: 235px;
			margin-bottom: 17px;

			// img {
			// 	max-width: 235px;
			// 	max-height: 200px;
			// 	object-fit: cover;
			// }
		}
		
		&-title {
			margin-bottom: 5px;
			font-size: 18px;
			line-height: 25px;
			font-weight: 700;
		}
	}
}

.slick-arrow {
    position: absolute;
    bottom: -3px;
    left: 275px;
    cursor: pointer;
    z-index: 5;
}

.slick-right {
    left: 340px;
}




.blockquote {
    margin-bottom: 150px;
    padding: 128px 10px 144px;
    text-align: center;
    background-image: url('../images/blockquote.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

	&__text {
		max-width: 670px;
		margin: 0 auto;
		font-size: 42px;
		line-height: 57px;
		color: $white;
	}
}


.footer {
    padding: 70px 0 50px;
    background-image: url('../images/footer-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: $white;

	&__top {
		margin-bottom: 150px;
		display: flex;
	}
	
	&__form {
		flex-basis: 510px;
		margin-right: 90px;

		&-btn {
			padding: 0;
			border: none;
			background-color: transparent;
			color: $white;
		}
	}

	&__input {
		width: 100%;
		margin-bottom: 60px; 
		padding-bottom: 11px;
		display: block;
		border: none;
		border: 1px solid $white;
		background-color: transparent;
		font-family: 'Noto Sans', sans-serif;
		font-size: 14px;
		line-height: 19px;
		color: $white;

		&::placeholder {
			font-family: 'Noto Sans', sans-serif;
			font-size: 14px;
			line-height: 19px;
			color: $white;
		}
	}

	&__title {
		margin-bottom: 60px;
		font-size: 24px;
		line-height: 43px;
		font-weight: 700;
		text-transform: uppercase;
	}
	
	&__contacts-item {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 25px;
	}
	
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.social {
		margin-right: -10px;
	}
}

@import 'media';